$white: #FFFFFF;
$gold: #986b25;
$gold-2: #af7417;
$gray-dark: #5b5555;
$gray-mid: #737171;
$gray-light: #eee9e9;


$black: #131212;
$black-mid: #262525;
$black-light: #232121;
$chocolate-dark: #514941;


$index: calc(1vv + 1vh);
