@import "normalize.css";
@import "reset.css";

@import "components/header.scss";
@import "components/hero.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
