@import "../color.scss";

.about {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  will-change: background-color;

  @media screen and (max-width: 540px) {
    padding-top: 40px;
    padding: 40px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__left {
    width: 55%;

    @media screen and (max-width: 540px) {
      display: flex;
    }

    @media screen and (max-width: 540px) {
      width: 100%;
      order: 1;
    }
  }

  &__right {
    padding-top: 60px;
    height: 100%;
    max-width: 35%;

    @media screen and (max-width: 1023px) {
      max-width: 45%;
    }

    @media screen and (max-width: 540px) {
      padding-top: 0;
      max-width: 100%;
      height: auto;
    }
  }

  &__img {
    position: absolute;
    left: 25%;
    top: 500px;
    width: 25vw;
    z-index: 5;

    @media screen and (max-width: 1279px) {
      top: 300px;
    }

    @media screen and (max-width: 1023px) {
      left: 15%;
    }

    @media screen and (max-width: 540px) {
      display: none;
      //position: relative;
      //left: auto;
      //top: 0;
    }
  }

  &__titlewrapper {
    margin-bottom: 30px;
    padding: 40px;
    position: relative;
    max-width: 30vmax;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 540px) {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 3vmax;
    font-weight: 300;
    color: $gold;
    will-change: color, transform;

    @media screen and (max-width: 540px) {
      font-size: 8vmin;
    }

    &_num {
      color: $gray-light;
      font-size: 2.8vmax;
      font-weight: 500;
      text-shadow: 0 0 20px #eee9e9,
      0 0 40px #eee9e9,
      0 0 60px #eee9e9,
      0 0 80px #eee9e9,
      0 0 100px #eee9e9;
    }
    @media screen and (max-width: 540px) {
      font-size: 8vmin;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9vmax;
    letter-spacing: 1px;
    max-width: 30vmax;
    color: $gray-mid;

    &_num {
      color: $gray-light;
    }

    @media screen and (max-width: 540px) {
      font-size: 2.4vmin;
    }
  }


  &__description {
    margin-bottom: 250px;
    max-width: 30vmax;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.3;
    color: $gray-mid;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1199px) {
      margin-bottom: 70px;
      font-size: 14px;
    }

    @media screen and (max-width: 540px) {
      max-width: 100%;
      font-size: 3.5vmin;
    }

    @media screen and (max-width: 440px) {
      font-size: 4vmin;
    }
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 540px) {
      margin: 0 auto 20px;
      max-width: 90%;
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
  }
}


.line {
  position: absolute;
  background-color: $gold;


  &__1 {
    left: 0;
    bottom: 0;
    height: 0;
    width: 4px;
    @media screen and (max-width: 750px) {
      width: 2px;
    }

    @media screen and (max-width: 540px) {
      height: 100%;
    }
  }

  &__2 {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;

    @media screen and (max-width: 750px) {
      height: 2px;
    }

    @media screen and (max-width: 540px) {
      width: 100%;
    }
  }

  &__3 {
    right: 0;
    top: 0;
    height: 0;
    width: 4px;

    @media screen and (max-width: 750px) {
      width: 2px;
    }

    @media screen and (max-width: 540px) {
      height: 100%;
    }
  }

  &__4 {
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;

    @media screen and (max-width: 750px) {
      height: 2px;
    }

    @media screen and (max-width: 540px) {
      width: 100%;
    }
  }
}

.award {
  position: absolute;
  top: 25%;
  padding: 40px 10px;
  opacity: 0.9;
  width: 350px;
  align-self: center;
  z-index: 1;

  @media screen and (max-width: 750px) {
    width: 270px;
  }

  @media screen and (max-width: 540px) {
    padding: 0;
    position: relative;
    top: auto;
    width: 100%;
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: $gray-light;

    @media screen and (max-width: 750px) {
      width: 30px;
    }

    @media screen and (max-width: 540px) {
      display: none;
    }
  }

  &:before {
    top: 5%;
  }

  &:after {
    bottom: 5%;
    right: 0;

    @media screen and (max-width: 750px) {
      right: 15%;
    }
  }

  &__name {
    margin-bottom: 20px;
    color: $gold-2;
    font-size: 52px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3),
    -2px -2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 5px #af7417;

    @media screen and (max-width: 1199px) {
      font-size: 4vmax;
    }
  }

  &__title {
    color: $gray-light;
    letter-spacing: 1.6px;
    line-height: 1.3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1199px) {
      font-size: 1.4vmax;
    }

    @media screen and (max-width: 540px) {
      color: $black-mid;
      font-size: 3vmin;
    }
  }
}
