.portfolio {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: $white;

  &__title {
    margin-bottom: 70px;
    font-size: 36px;
    font-weight: 100;
  }

  &__list {
    display: flex;

  }

  &__item {

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__link {
    padding: 15px 50px;
    display: block;
    border-bottom: 1px solid $gray-mid;
    border-top: 1px solid $gray-mid;


    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
