.portfolio {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: $white;

  &__title {
    margin-bottom: 70px;
    font-size: 36px;
    font-weight: 300;
  }

  //&__list {
  //  display: flex;
  //  gap: 1px;
  //}
  //
  //&__item {
  //
  //  &:not(:last-child) {
  //    margin-right: 60px;
  //  }
  //}

  //&__link {
  //  padding: 15px 50px;
  //  display: block;
  //  border-bottom: 1px solid $gray-mid;
  //  border-top: 1px solid $gray-mid;
  //
  //
  //  font-size: 12px;
  //  font-weight: 500;
  //  letter-spacing: 2px;
  //}

  &__previews {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }
}

.preview {
  position: relative;
  width: calc(25% - 3px);
  //max-width: 24%;
  height: 400px;

  &:hover &__hover{
    opacity: 0.7;
  }

  &:hover &__title {
    font-size: 2vmax;
  }


  &__link {
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__hover {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-mid;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &__title {
    color: $gray-light;
    font-weight: 300;
    font-size: 0;
    max-width: 80%;
    transition: font-size 0.7s ease-in-out;
  }
}
