@import "../color.scss";

.team {
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  height: 100vh;
  perspective: 900px;

  &__bgcontainer {
    position: absolute;
    inset: 0;
    background-color: $chocolate-dark;
    z-index: 1;
    //
    //perspective: 800px;
    transform-style: preserve-3d;
    transform-origin: center center;

    &_open {
      transform: rotateX(90deg);
      transition: transform 1s ease;
    }
  }

  &__title, &__subtitle {
    position: relative;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    color: $gray-dark;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    z-index: 5;
  }

  &__title {
    font-size: 36px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 100;
    max-width: 400px;
  }

  &__list-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &_left {
    }

    &_right {

    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid $gray-dark;
    border-radius: 50%;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: fill;
  }
}
