@import "../color.scss";

.team {
  position: relative;
  background-color: $white;
  min-height: 70vh;
  perspective: 900px;
  cursor: none;
  z-index: 10;

  @media screen and (max-width: 821px) {
    height: 100%;
  }


  &__container {
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 150px 1fr 1fr;
    grid-template-areas:
    'title title . . . . . .'
    'title title . up up up up up'
    'low low low low low . . .';
    gap: 45px 0px;
    justify-content: center;

    @media screen and (max-width: 1023px) {
      padding: 0;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 170px 1fr 1fr;
      grid-template-areas:
        'title . . . '
        'up up up up'
        'low low low low';
      justify-items: center;
      gap: 0;
    }

    @media screen and (max-width: 821px) {
      padding-left: 20px;
      padding-right: 20px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 150px 1fr 1fr 1fr;
      gap: 0;

      grid-template-areas:
        'title title  . . .'
        'up up .  low low'
        'up up .  low low'
        'up up .  low low'
        'up up .  low low';
    }
  }

  &__head {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    grid-area: title;
    display: flex;
    justify-self: center;
    flex-direction: column;
    height: 15vmax;
    width: 18vmax;
    background-color: $red;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
  }

  &__bg {
    position: absolute;
    inset: 0;
    background-color: $blue-dark;
    z-index: 90;
    transform-style: preserve-3d;
    transform-origin: center center;

    @media screen and (max-width: 786px) {
      display: none;
    }


    &_open {
      transform: rotateX(90deg);
      transition: transform 1s ease;
    }
  }

  &__title, &__subtitle {
    position: relative;
    font-weight: 300;
    line-height: 1.5;
    color: $gray-dark;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    z-index: 5;
  }

  &__title {
    font-size: 3.5vmax;
    line-height: 1;
    font-weight: 900;
    letter-spacing: -3px;
    color: $black;

    &_low {
      margin-bottom: auto;
      color: $white;
      font-size: 3.5vmax;
      letter-spacing: 5px;
      text-align: center;

      @media screen and (max-width: 1024px) {
        font-size: 3.2vmax;
      }

      @media screen and (max-width: 768px) {
        font-size: 3vmax;
      }
    }
  }

  &__subtitle {
    display: block;
    grid-area: subtitle;
    font-size: 2vmax;
    font-weight: 100;
    max-width: 400px;
    color: $white;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0 7vmax;
    z-index: 10;

    @media screen and (max-width: 1024px) {
      gap: 0 5vmax;
    }

    @media screen and (max-width: 821px) {
      flex-direction: column;
    }

    &_up {
      grid-area: up;
    }


    &_low {
      grid-area: low;

      @media screen and (max-width: 768px) {
        gap: 0;
      }
    }
  }

  &__item {
    padding: 30px 10px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    max-width: 300px;
    width: 100%;

    @media screen and (max-width: 768px) {
      align-items: center;
    }
  }

  &__circle {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vmax;
    height: 10vmax;
    z-index: 5;
    border: 1px solid black;
    border-radius: 50%;

    @media screen and (max-width: 1400px) {
      width: 14vmax;
      height: 14vmax;
    }

    @media screen and (max-width: 768px) {
      width: 17vmax;
      height: 17vmax;
    }
  }

  &__img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: fill;
    z-index: 10;
  }

  &__name, &__position {
    position: relative;
    z-index: 10;

  }

  &__name {
    margin-bottom: 10px;
    font-size: 28px;

    @media screen and (max-width: 320px) {
      font-size: 24px;
    }
  }

  &__position {
    font-size: 24px;
    letter-spacing: 1.6px;
    color: $gray-mid;

    @media screen and (max-width: 1100px) {
      font-size: 2.3vmax;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    @media screen and (max-width: 320px) {
      font-size: 2vmax;
    }
  }
}


.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;


  &__title {
    color: $white;
    font-size: 10vmax;

    @media screen and (max-width: 1023px) {
      font-size: 10vmin;
    }

    @media screen and (max-width: 786px) {
      display: none;
    }
  }
}

