@import "../color.scss";

.team {
  position: relative;
  background-color: $white;
  height: 90vh;
  perspective: 900px;

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  &__bg {
    position: absolute;
    inset: 0;
    background-color: $blue-dark;
    z-index: 1;
    transform-style: preserve-3d;
    transform-origin: center center;

    &_open {
      transform: rotateX(90deg);
      transition: transform 1s ease;
    }
  }

  &__title, &__subtitle {
    position: relative;
    font-weight: 300;
    line-height: 1.5;
    color: $gray-dark;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    grid-area: title;
  }

  &__subtitle {
    margin-bottom: 30px;
    display: block;
    grid-area: subtitle;
    font-size: 16px;
    font-weight: 100;
    max-width: 400px;
    width: 100%;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;

    grid-area: list;
  }

  &__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_1 {
      left: 0;
      top: 20%;
    }

    &_2 {
      left: 0;
      top: 50%;

    }

    &_3 {
      right: 0;
      top: 30%;
    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vmax;
    height: 10vmax;
    z-index: 5;
  }

  &__img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: fill;
    z-index: 10;
  }

  &__name, &__position {
    position: relative;
    z-index: 10;
  }
}

#svg2 {
  position: absolute;
  scale: 1.6;
  z-index: 5;
}

#svg3 {
  position: absolute;
  scale: 1.7;
  z-index: 5;
}

.step12, .step13, .step14, .step15,
.step22, .step23, .step24, .step25{
  display: none;
}

.cls-1 {
  fill: lightcyan;
}

.cls-2 {
  fill: hotpink;
}
